body{
	height:100%;
	margin:0;
	padding:0;
	font-size:12px;
	font-family:"Microsoft YaHei", "微软雅黑", "SimSun", "宋体"
}
.container{
	height:100%;
	margin:0 auto;
	min-width:1000px;
}
.head{
	visibility:hidden;
	width:100%;
	height:40px;
	margin:0 auto;
	background-color:#fcfcfc;
	border-color:#edeef0
}
.nav{
	margin:0 auto;
	width:1000px;
}
.welcome{
	float:left;
}
.userinfo{
	float:right;
}
.userinfo *{
	float:left;
	margin:0 10px;
}
.main{
	width:1000px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	background-color:#fcfcfc
}
span{
	line-height:16px;
	display:inline-block;
	margin:auto;
}
	
	
.menu {
	line-height: 40px;
	list-style-type: none;
	width: 100px;
	text-align:center;
}
.menu li {
 	width: 80px;
}

.menu a {
	text-decoration: none;
}
.menu a:hover {
	color: red;
	text-decoration: none;
	font-weight: bold;
}
.logo{
	height:20%; 
	text-align:center;
	weight:bolder;
}
.left {
	padding-top:0px;
	height:75%;	
}